@use 'sass:color';

.Header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background: linear-gradient(
        270deg,
        $red 0%,
        color.mix($red, $dark, $weight: 70%) 0%,
        $dark 50%
    );
    box-shadow: 0 0 80px 0 rgba($second-red, 0.25) inset;
    border-bottom: 1px solid $second-red;
    padding: 10px;
    height: $header-height;
    opacity: 0.8;
    z-index: 1;
}
