# Node
node_modules/

# Build
/dist/
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Env
.env
.env.*

# Webpack cache
.cache/

# Misc
*.local 

package-lock.json