@use 'sass:color';

.Btn {
    padding: 0.5em 1.2em;
    border-radius: 6px;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: background 0.4s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s,
        box-shadow 0.3s;
    background: $dark;
    color: $white;
    box-shadow: 0 0 8px $second-red;
    &:hover,
    &:focus {
        background: linear-gradient(90deg, $red 0%, $second-red 100%);
        box-shadow: 0 0 16px $second-red, 0 0 24px $neon-blue-transparent inset;
        filter: brightness(1.05);
    }

    &--secondary {
        background: $dark;
        color: $red;
        border: 2px solid $red;
        box-shadow: 0 0 8px $red;
        &:hover,
        &:focus {
            background: $red;
            color: $white;
            box-shadow: 0 0 16px $second-red,
                0 0 24px $neon-blue-transparent inset;
        }
    }

    &--accent {
        background: linear-gradient(90deg, $neon-blue 0%, $neon-pink 100%);
        color: $black;
        box-shadow: 0 0 12px $neon-blue;
        &:hover,
        &:focus {
            background: linear-gradient(90deg, $neon-pink 0%, $neon-blue 100%);
            color: $black;
            box-shadow: 0 0 24px $neon-pink, 0 0 40px $neon-blue inset;
            filter: brightness(1.1);
        }
    }
}
