// BinaryBgCanvas.module.scss
.BinaryBgCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; // Убедитесь, что находится под основным контентом
  pointer-events: none;
  opacity: 0.8; // Регулируйте прозрачность
}

:export {
  neonColor: $neon-green;
  bgColor: transparent;
}