.Settings {
  @include content-wrapp;
  height: 70%;
  width: 70%;
  overflow-y: auto;

  .List {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
  }

  .Section {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    border-bottom: 1px solid rgba($primary, 0.4);
    padding-bottom: 1.8em;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
