.MultiplayerRomms {
  @include content-wrapp;
  height: 90%;
  width: 70%;
  overflow-y: auto;

  .Content {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
  }

  .RoomsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 0.7em;
  }

  .RoomsList {
    display: flex;
  }

  .RoomInfo {
    display: flex;
    flex-basis: 50%;
    border-left: 1px solid;
    padding-left: 1em;
  }

  .RoomTitle {
    margin-top: 0;
  }
}
