@use './colors-base' as base;
@use './colors-neon' as neon;

$ui-background: rgba(base.$dark-2, 0.85);
$ui-panel: rgba(base.$gray-1, 0.7);
$ui-border: rgba(neon.$neon-blue, 0.3);
$ui-text-primary: base.$white;
$ui-text-secondary: rgba(base.$white, 0.7);
$ui-highlight: neon.$neon-blue;
$ui-error: #ff2d75;
$ui-success: #00f5d4;
$ui-warning: #ffbe0b;
